body {
    font-family: Arial,Verdana
}
.template_editor {
    color:#666;
    font-weight:bold;
    padding:10px;
    line-height: 2.0em;
    margin: 5px;
}
.template_editor .placeholder {
    padding: 4px;
    color:#fff;
    font-style: italic;
    font-weight: normal;
    margin: 0px 2px;
    cursor:pointer;
}
.template_editor .set {
    background-color: #6c0;
}
.template_editor .unset {
    background-color: #f00;
}
