<h1>Listing renderers</h1>

<table>
  <tr>
  </tr>

<% @renderers.each do |renderer| %>
  <tr>
    <td><%= link_to 'Show', renderer %></td>
    <td><%= link_to 'Edit', edit_renderer_path(renderer) %></td>
    <td><%= link_to 'Destroy', renderer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New renderer', new_renderer_path %>